<div class="{{classPrefix}}-content">
  <ul data-role="items">
  {{#each items}}
    <li data-role="item" class="{{../classPrefix}}-item" title="{{__ label}}">{{{__ label}}}</li>
  {{/each}}
  </ul>
</div>
